<%= render 'layouts/navbar' %>

<h1>イベントの作成</h1>
<% if @header_prefecture %><h2><%= @header_prefecture %></h2><% end %>
<% if @header_city %><h2><%= @header_city %></h2><% end %>
<% if @header_category %><h2><%= @header_category %></h2><% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@event) do |f| %>

      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>エラー箇所の修正をお願いします。<%#= pluralize(@event.errors.count, "error") %> <!--prohibited this message from being saved:--></h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <div class="form-group">
          <%= f.label :title, 'イベント名' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :start_datetime, '開始時刻' %>
          <%= f.text_field :start_datetime, class: 'form-control', id: 'datetimepicker_start' %>
        </div>

        <div class="form-group">
          <%= f.label :end_datetime, '終了時刻' %>
          <%= f.text_field :end_datetime, class: 'form-control', id: 'datetimepicker_end' %>
        </div>

        <div class="form-group">
          <%= f.label :accept_user_limit, '募集人数' %>
          <%= f.text_field :accept_user_limit, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :price, '金額' %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :prefecture_id, '都道府県' %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,
               {:include_blank => true, id: 'prefecture'},
               {:onchange => "update_pref(this.value, 'event');"}
          %>
        </div>

        <div class="form-group">
          <%= f.label :city_id, '市町村' %>
          <%= f.collection_select :city_id, City.all, :id, :name, :include_blank => true %>
          <%#= collection_select :event, :city_id, City.where(prefecture_id: 1), :id, :name %>
        </div>

        <div class="form-group">
          <%= f.label :category_id, 'カテゴリー' %>
          <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => true %>
        </div>

        <div class="form-group">
          <%= f.label :place, '開催場所' %>
          <%= f.text_field :place, id: 'place', class: 'form-control', placeholder: "施設名を入力して下さい", :onchange => "codeAddress()"%>
        </div>

<!--
        <input type="button" value="Encode" onclick="codeAddress()">

        <div id="map"></div>
        <style>
          #map {
            width: 100%;
            height: 350px;
          }
        </style>

-->

        <div class="form-group">
          <%= f.label :content, 'メモ' %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <%= f.text_field :latitude, class: 'hidden' %>
        <%= f.text_field :longitude, class: 'hidden' %>

        <%= f.submit '作成', class: 'btn btn-primary' %>
      <% end %>
    </div>

  </div>
</div>

<script>
  $(function(){
    $('#datetimepicker_start').datetimepicker({
      closeOnDateSelect: true,
      language: 'ja'
    }).on('dp.error', function(e) {
      $(e.target).val('');
    });

    $('#datetimepicker_end').datetimepicker({language: 'ja'});

  });
</script>

<script>

  var geocoder;
  var map;
  var maker;

  function initMap() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 15,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

  }

  function codeAddress() {

    var prefecture = $('#event_prefecture_id option:selected').text();
    var place = document.getElementById('place').value;
    var address = prefecture + ' ' + place

    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true,
            label: place
        });

        $('#event_latitude').val(marker.getPosition().lat());
        $('#event_longitude').val(marker.getPosition().lng());

      	// マーカーのドロップ（ドラッグ終了）時のイベント
      	google.maps.event.addListener(marker, 'dragend', function(ev){

      		// 緯度の軽度の取得
      		$('#event_latitude').val(ev.latLng.lat());
      		$('#event_longitude').val(ev.latLng.lng());

      	});

      } else {
        alert('地図データーはありませんでした。');
      }
    });
  }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKD-a23GSmhG_vW41sHtlZAzX_W7Hngy4&callback=initMap">
</script>

<script>
  window.onload = function() {

    //alert($('#event_city_id option:selected').val());

    if ($('#event_city_id option:selected').val() == null)
      update_pref($('#event_prefecture_id option:selected').val());
    }
  };
</script>
