<%= render 'layouts/navbar' %>

<div class="container">
    <div class="col-md-3">
        <!-- vertical-navbar -->
        <%= render 'partial/verticalnavbar'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="text-center">
                  <span style="font-size:24px;">オプションの編集</span>
              </div>
          </div>

          <div class="panel-body">
              <%= form_for @event do |f| %>

              <div class="form-group">
                <%= f.label :hash_tag, 'ハッシュタグ' %>
                <%= f.text_field :hash_tag, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :movie, '動画' %>
                <%= f.text_field :movie, class: 'form-control' %>
              </div>

                <div class="actions">
                  <%= f.hidden_field :id, value: @event.id %>
                  <%= f.submit "更新", class: "btn btn-primary" %>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</div>
