<%= render 'layouts/navbar' %>

<h1>イベント名 : <%= @event.title %></h1>

<!--
<% if @header_prefecture %><h2><%= @header_prefecture %></h2><% end %>
<% if @header_city %><h2><%= @header_city %></h2><% end %>
<% if @header_category %><h2><%= @header_category %></h2><% end %>
-->

<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-7 col-sm-6">
      <div class="carousel-inner">
        <% i=0 %>
        <% @event.event_photos.each do |photo| %>
          <% if i==0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
            <%#= image_tag pic.image.url(:medium) %>
            <%= image_tag photo.image.url %>
          </div>
          <% i = i+1 %>
        <% end %>
        <% if @event.event_photos.count == 0 %>
          <img class="event-img" alt="" src=<%= "/images/no_image_event.png" %> />
        <% end %>
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-6">
    <!--<div class="col-md-5 col-sm-5 col-xs-6 col-frame">-->
      <div class="carousel-inner">
        <% i=0 %>
        <% @event_made_user.user_photos.each do |pic| %>
          <% if i==0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
            <%#= image_tag pic.image.url(:medium) %>
            <%= link_to image_tag(pic.image.url(:medium), { :border => '0', :alt => 'ユーザー画像'}), profile_path(@event.user_id) %>
          </div>
          <% i = i+1 %>
        <% end %>
      </div>
      <p>イベント作成者:<%= link_to get_user_name(@event.user_id) + "さん" , profile_path(@event.user_id) %></p>
    </div>

  </div>

  <%= render 'book_button' %>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr><td>都道府県:</td><td><%= get_prefecture_name(@event.prefecture_id) %></td></tr>
        <tr><td>市町村:</td><td><%= get_city_name(@event.city_id) %></td></tr>
        <tr><td>イベント開催時刻:</td><td><%= @event.start_datetime.strftime("%Y年%m月%d日 %H時%M分") %> 〜 <%= @event.end_datetime.strftime("%Y年%m月%d日 %H時%M分") %></td><tr>
        <tr><td>募集人数:</td><td><%= @event.accept_user_limit %></td><tr>
        <tr><td>参加費:</td><td><%= jpy_comma(@event.price) %></td><tr>
        <tr><td>ハッシュタグ:</td><td><% @event.hash_tag %></td><tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><p>メモ</p><%= simple_format(@event.content) %></div>
    <div class="col-md-6"><p>イベント開催場所 : <%= @event.place %></p><div id="map"></div></div>
  </div>

  <style>
    #map {
      width: 100%;
      height: 350px;
    }
  </style>

  <center>
  <% if @event.movie != nil && @event.movie != '' %>
    <div class="event-movie">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @event.movie %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  <% end %>
  </center>

  <%= render 'book_button' %>
<!--
  <div>
    <p>イベント申し込み者リスト</p>
    <% @event.books.each do |book| %>
    <table class="table table-striped">
      <tr>
        <th class="text-left"></th>
        <th class="text-left">ユーザー名</th>
        <th class="text-left">性別</th>
      </tr>

      <% if @event.books %>
        <% @event.books.each do |book| %>
          <% user = get_user(book.user_id) %>
          <tr>
            <% if user.user_photos.first != nil %>
              <td><%= link_to image_tag(user.user_photos.first.image.url(:thumb), { :border => '0', :alt => 'ユーザー画像'}), profile_path(user.id) %></td>
            <% else %>
              <td><img class="follow-user-img" alt="" src="/images/no_image_user.png"></td>
            <% end %>
          </tr>
          <tr><td>user.name</td></tr>
          <tr><td><%= get_gendar(user.gender) %></td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
-->
</div>
<script>
  function initMap() {

    var myLatLng = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {

    zoom: 15,
    center: myLatLng

    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKD-a23GSmhG_vW41sHtlZAzX_W7Hngy4&callback=initMap">
</script>
