<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>開催場所選択</title>
    <%= csrf_meta_tags %>
                                                                                                                                                      
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
       
      <%= yield %>
      
      
      TEST!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      
    </div>

    <%= render 'layouts/footer' %>
    
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>

  </body>
</html>